.row {
    margin-top: 20px;
    color: #39b54a;
}

body {
    background-color: #3a473d;
    margin: 20px;
}

#tabela {
    width: 80%;
    margin: auto;
    margin-top: 50px;
}

tr,
td,
tbody,
thead,
th {
    border: 2px solid black;
    color: #39b54a;
    text-align: center;
    background-color: #272e27;
}
td,
th {
    width: 10%;
}

th {
    height: 2em;
}

input,
select {
    background-color: #6e9677;
}

button {
    background-color: #02f733;
}
